
<h2>Enter I.P. Address:</h2>
<%= form_tag '/report', method: :get do %>
	<div class='form-group'>
		<%= text_field_tag :ip_address, nil,
		size: 15, maxlength: 15, placeholder: 'Enter an IP Address',
		class: 'form-control' %>
	</div>
	<div class='form-group'>
		<%= select_tag :scan_type, options_for_select(@options), class: 'form-control' %>
	</div>
	<div>
		<%= submit_tag 'Scan', class: 'btn btn-primary' %>
	</div>
<% end %>
