<%= form_tag "/" do %>
    <div class=form-group>
        <%= text_field_tag :ip_address, nil,
        size: 15, maxlength: 15, placeholder: 'Enter an IP Address' , 
        class: 'form-control' %>
    </div>


<% end %>

